@model IEnumerable<Actor>

@{  ViewData["Title"] = "Actor Title"; }

<br />
<a asp-action="Create" class="btn btn-info">New </a> 
<br />

<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Id) </th>
            <th scope="col">@Html.DisplayNameFor(model => model.FullName)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Bip)</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.FullName</td>
            <td>@item.Bip</td>
            <td><a  asp-route-id="@item.Id" asp-action="Edit"> Edit</a> | <a asp-route-id="@item.Id" asp-action="Detail">Detail</a> |<a asp-route-id="@item.Id" asp-action="Delete"> Delete</a> </td>
        </tr>
        }



    </tbody>
</table>